{% extends "changelog/base.html" %}
{% block title %}Changelog{% endblock %}
{% block content %}

    <h1>Changelog</h1>
    {% for update in updates %}
      <div class="wrapper">
      <h2>
        <a href="{% url 'changelog:update_detail' update.id %}">
          {{ update.title }} - {{ update.version }}
        </a>
      </h2>
      {{ update.body|truncatewords:30|linebreaks }}
      <p class="date">
        Published {{ update.publish }} by {{ update.author }}
      </p>
      <p>Update Type: {{ update.change_type }} - Automated update: {{ update.automated_update }}</p>
  </div>
  {% endfor %}
{% endblock %}