<!-- This uses includes, which is a django template feature that allows us to turn sections of html into components, to have a localized file specifically for our header -->

<header class="site-header">
    <div class="header-container">
      <div class="header-left">
        <div class="logo-placeholder">
        </div>
      </div>
      <div class="header-middle">
        <div class="logo-placeholder">
        </div>
      </div>
      <nav class="header-right">
        <a href="{% url 'home' %}" class="nav-button">Home</a>
        <a href="{% url 'changelog:update_list' %}" class="nav-button">Changelog</a>
      {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'users:dashboard' %}">My dashboard</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
          <a href="#">Images</a>
        </li>
        <li {% if section == "people" %}class="selected"{% endif %}>
          <a href="#">People</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <form action="{% url "logout" %}" method="post">
          <button type="submit">Logout</button>
          {% csrf_token %}
        </form>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
      {% endif %}
    </span>
      </nav>
    </div>
  </header>